@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {

  --clr-primary: #008DD5;
  --clr-red: #EF3054;
  --clr-yellow: #dace2d;
  --clr-green: #5ace46;
  --clr-orange: #FA9F42;
  --clr-purple: #af7cdf;
  --clr-pink: #df7cca;

  --clr-light: #e4e4e4;
  --clr-lightest: #eeeeee;
  --clr-dark: #2c2c2c;



  --box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
  --transition: all 0.3s ease-in;

}

/* GENERAL */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}


body {
  background-color: var(--clr-light);
  font-family: 'Roboto', sans-serif;
}


/* HEADER */

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0 2rem;
}

header>h1>img {
  width: 350px;
  position: relative;
  margin-left: 2rem;
  bottom: 23%;
}

h1 {
  font-size: 9.5rem;
  text-transform: uppercase;
  color: var(--clr-dark);

}

h1>span {
  font-size: 5rem;
}

.name>small {
  font-size: 1.5rem;
}

/* GRID CONTAINER and BASIC SETTINGS */

.grid-container {
  display: grid;
  grid-template:
    "about contact"
    "experience experience"
    "education skills"
    "interests form" / 1fr 1fr;
  gap: 2rem;
  margin: 4rem;
}

section {
  background-color: var(--clr-lightest);
  box-shadow: var(--box-shadow);
  position: relative;
  display: flex;
  flex-direction: column;
}

section>h2 {
  flex-grow: 0;
  flex-shrink: 0;
}

.grid-container>section {
  border-radius: 15px;
  padding: 2rem;
}

/* .grid-container>section>div {
  margin-bottom: 1rem;
} */

.grid-container>section h2 {
  font-size: 1.75rem;
  margin-bottom: 2rem;
  /* position: absolute; */

}

.grid-container>section>h2>i {
  /* font-size: 2rem; */
  margin-right: 0.5rem;
}

.grid-container>section h3 {
  margin-bottom: 0.5rem;
}

p {
  font-size: 18px;
}

/* .grid-container i {
  font-size: 1.8rem;
} */

section>i {
  position: absolute;
  top: 50%;
  right: 2rem;
  transform: translateY(-50%);
  font-size: 10rem;
  opacity: 0.5;
  z-index: 1;
}

.btns {
  position: absolute;
  bottom: 2rem;
}

.btn {
  padding: 0.25rem 1rem;
  border: 1px solid #000;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.3s ease-in;
}



.group-btn {
  margin: 0.25rem 0.25rem 0 0;

}

/* ABOUT */

.about {
  grid-area: about;
}

.about>h2>i {
  color: var(--clr-red);
}

.about>p {
  margin-bottom: 4rem;
}


.about-btn:hover {
  color: var(--clr-red);
  border-color: var(--clr-red);
}

.about-btn.active {
  color: #fff;
  background-color: var(--clr-red);
  border-color: var(--clr-red);
}

/* CONTACT */

.contact {
  grid-area: contact;
}

.contact>h2>i {
  flex-grow: 0;
  color: var(--clr-yellow);
}


.contact-group>a {
  text-decoration: none;
  color: var(--clr-dark);
  transition: var(--transition);
}

.contact-group>a:hover {
  color: var(--clr-yellow);
}


.contact .contact-group {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: space-around;
  flex-grow: 1;
  margin-bottom: 6rem;
  flex-grow: 1;
}

.contact-group i {
  font-size: 3.5rem;
}

.contact-group p {
  font-size: 1.5rem;
}

.explanation {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 2rem;
  border: 1px solid var(--clr-yellow);
  color: var(--clr-yellow);
  font-weight: 400;
  border-radius: 5px;
  padding: 0.25rem 1rem;
}


/* EXPERIENCE */

.experience {
  grid-area: experience;
}

.experience>h2>i {
  color: var(--clr-green);
}

.experiences {
  display: grid;
  grid-template:
    "html css"
    "bootstrap js" / 1fr 1fr;
  gap: 1rem;
}

.technology {
  padding: 2rem;
  border-radius: 15px;
  transition: all 0.3s ease-in;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.technology>h3 {
  font-size: 1.5rem;
  transition: var(--transition);
}

.technology>img {
  max-width: 125px;
  height: auto;
  position: absolute;
  top: -10px;
  right: -10px;
  z-index: 1;
  opacity: 0;
  transition: var(--transition);
}



.technology:hover>img {
  opacity: 0.7;
}

.technology:hover {
  box-shadow: var(--box-shadow);
  transform: translateY(-5px);
}

.html:hover>h3,
.css:hover>h3,
.bootstrap:hover>h3,
.js:hover>h3 {
  color: var(--clr-dark);
}

.html {
  grid-area: html;
  border: 2px solid var(--clr-orange);
}

.html>h3 {
  color: var(--clr-orange);
}

.html:hover {
  background-color: rgba(255, 160, 122, 0.5);
}


.css {
  grid-area: css;
  border: 2px solid var(--clr-primary);
}

.css>h3 {
  color: var(--clr-primary);
}

.css:hover {
  background-color: rgba(122, 220, 255, 0.5);
}


.bootstrap {
  grid-area: bootstrap;
  border: 2px solid var(--clr-purple);

}

.bootstrap>h3 {
  color: var(--clr-purple);
}

.bootstrap:hover {
  background-color: rgba(228, 118, 255, 0.5);
}


.js {
  grid-area: js;
  border: 2px solid var(--clr-yellow);
}

.js>h3 {
  color: var(--clr-yellow);
}

.js:hover {
  background-color: rgba(255, 242, 98, 0.5);
}


.technology-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.technology-content p {
  z-index: 10;
}

.bootstrap>img {
  right: -16px;
}


.js>img {
  right: 0px;
}

.html img,
.css img,
.js img {
  max-width: 100px;
}


/* EDUCATION */

.education {
  grid-area: education;
}

.education>h2>i {
  color: var(--clr-purple);
}

.education-btn.active {
  background-color: var(--clr-purple);
  border-color: var(--clr-purple);
  color: #fff;
}

.education-btn.active:hover {
  background-color: var(--clr-purple);
  border-color: var(--clr-purple);
  color: #fff;
}

.education-btn:hover {
  color: var(--clr-purple);
  border-color: var(--clr-purple);
}

.education-group {
  margin-bottom: 4rem;
}

.education-buttons {
  margin-top: 2rem;
}

/* SKILLS */

.skills {
  grid-area: skills;
}

.skills>h2>i {
  color: var(--clr-orange);
}

.skills-container {
  /* width: 100%; */
  overflow: hidden;
  display: grid;
  grid-template:
    "communicative determined"
    "tolearn patient" /1fr 1fr;
  gap: 2rem;
  flex-grow: 1;
}

.communicative {
  grid-area: communicative;
}

.determined {
  grid-area: determined;
}

.to-learn {
  grid-area: tolearn;
}

.patient {
  grid-template-columns: patient;
}

.skill {
  display: flex;
  justify-content: center;
}

.skill>i {
  width: 3.5rem;
  height: 3.5rem;
  font-size: 3.5rem;
  color: var(--clr-orange);
  margin-right: 2rem;
}

.skill h3 {
  font-size: 1.375rem;
}

.skill .skill-line {
  height: 10px;
  width: 150px;
  border: 2px solid var(--clr-orange);
  border-radius: 15px;
}

.skill-line>.skill-line-fill {
  background-color: var(--clr-orange);
  height: 100%;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;

}

.communicative .skill-line-fill {
  width: 70%;
}

.determined .skill-line-fill {
  width: 80%;
}

.patient .skill-line-fill {
  width: 75%;
}

/* INTERESTS */

.interests {
  grid-area: interests;
}



.interests>h2>i {
  color: var(--clr-pink);
}

.interests-container {
  display: grid;
  align-content: center;
  grid-template:
    "hang clothes music"
    "excercise cooking games"
    /1fr 1fr 1fr;
  gap: 2rem;
  flex-grow: 1;
}


.hang-out {
  grid-area: hang;
}

.clothes {
  grid-area: clothes;
}

.music {
  grid-area: music;
}

.excercise {
  grid-area: excercise;
}

.cooking {
  grid-area: cooking;
}

.games {
  grid-area: games;
}


.interest {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.interest>i {
  font-size: 3.5rem;
  color: var(--clr-pink);
  margin-bottom: 0.5rem;
}

.interest>h3 {
  font-size: 1.375rem;
}

/* FORM */

.form {
  grid-area: form;
}

.form>h2>i {
  color: var(--clr-primary);
}

.form-component {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

textarea,
input[type=email] {
  font-family: 'Roboto', sans-serif;
  border: 1px solid var(--clr-primary);
  padding: 0.5rem;
  border-radius: 5px;
  background-color: var(--clr-lightest);
}

textarea:focus,
input[type=email]:focus {
  outline: 2px solid var(--clr-primary);
}

textarea {
  resize: none;
  height: 150px;
  margin-bottom: 1.5rem;
}

label {
  margin-bottom: 0.25rem;
}

.submit-btn {
  background-color: var(--clr-primary);
  color: var(--clr-lightest);
  width: 100%;
  padding: 0.5rem;
  border: none;
  font-size: 1rem;
  text-transform: capitalize;
}

/* FOOTER */

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 3rem;
}

@media screen and (max-width: 1000px) {
  .grid-container {
    grid-template:
      "about"
      "contact"
      "experience"
      "education"
      "skills"
      "interests"
      "form" / 1fr;
    margin: 0 2rem;
  }

  h1 {
    font-size: 6rem;
  }

  h1>span {
    font-size: 3rem;
  }


  header>h1>img {
    width: 240px;
  }

  /* SKILLS */

  .skills-container {
    grid-template:
      "communicative"
      "determined"
      "tolearn"
      "patient" /1fr;
  }

  /* INTERESTS */

  .interests-container {
    grid-template:
      "hang clothes"
      "music excercise"
      "cooking games" /1fr 1fr;
  }



  /* FOOTER */

  footer {
    margin: 2rem 0 2rem 0
  }
}

@media screen and (max-width: 700px) {
  header {
    margin: 0 0.5rem;
  }

  h1 {
    font-size: 3rem;
  }

  h1>span {
    font-size: 1.5rem;
  }

  header>h1>img {
    width: 150px;
    margin-left: 0.5rem;
  }

  .grid-container>section h2 {
    font-size: 1.5rem;
  }

  .grid-container {
    margin: 0 1 rem;
  }

  /* CONTACT */

  .contact-group i {
    font-size: 2rem;
  }


  /* EXPERIENCES */

  .experiences {
    grid-template:
      "html"
      "css"
      "bootstrap"
      "js" /1fr;
  }

  .technology>img {
    opacity: 0.7;
  }

  .html>h3,
  .css>h3,
  .bootstrap>h3,
  .js>h3 {
    color: var(--clr-dark);
  }

  .html {
    background-color: rgba(255, 160, 122, 0.5);
  }

  .css {
    background-color: rgba(122, 220, 255, 0.5);
  }

  .bootstrap {
    background-color: rgba(228, 118, 255, 0.5);
  }

  .js {
    background-color: rgba(255, 242, 98, 0.5);
  }

  /* SKILLS */
  .skill>i {
    font-size: 2rem;
    display: flex;
    align-items: center;
  }

  /* INTERESTS */
  .interest>i {
    font-size: 2rem;
  }

  /* FORM */

  textarea {
    height: 200px;
  }
}